*.xcuserstate  
project.xcworkspace  
xcuserdata  
UserInterfaceState.xcuserstate  
project.xcworkspace/  
xcuserdata/  
UserInterface.xcuserstate  
AMZ 360view.xcodeproj/project.xcworkspace/xcuserdata/xiaoyu.xcuserdatad/UserInterfaceState.xcuserstate
